@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Custom Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

/* Aspect Ratio Utility */
.aspect-w-16 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-h-9 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}